########################
# 분야1 제외 대상
########################
분야1/2_저장된모델/
분야1/3_모델설명서/
분야1/Q1_data/
분야1/Q1_submitResult/

########################
# 분야2 제외 대상
########################
분야2/submit/data/
분야2/submit/model/
분야2/submit/모델설명서/

########################
# 공통 제외 (이중 안전)
########################
*.pkl
*.pt
*.csv
*.xlsx
__pycache__/
.env
