########################
# 무선트래픽예측 제외 대상
########################
무선트래픽예측/2_저장된모델/
무선트래픽예측/3_모델설명서/
무선트래픽예측/1_작성코드/4_모델비교.ipynb
무선트래픽예측/1_작성코드/5_기지국그룹별_학습.ipynb
무선트래픽예측/Q1_data/
무선트래픽예측/Q1_submitResult/

########################
# 장애경보_분류 제외 대상
########################
장애경보_분류/model/
장애경보_분류/data/
장애경보_분류/모델 설명서/

########################
# .alarm_rag_agent 제외 대상
########################
alarm-rag-agent/data/
장애경보_분류/data/

########################
# 공통 제외 (이중 안전)
########################
*.pkl
*.pt
*.csv
*.xlsx
*.bin
*.h5
*.joblib
__pycache__/
.env
faiss_index/